@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #000000;
}
#header4-18 P {
  text-align: left;
}
#content5-5 P {
  text-align: center;
}
#content5-5 .mbr-section-title {
  text-align: center;
}
#testimonials1-1g .mbr-section-title {
  font-size: 36px;
}
#testimonials1-1g .card-block I {
  font-family: 'Playfair Display', sans-serif;
}
#testimonials1-1g .card-block {
  font-size: 18px;
}
#ext_menu-i .navbar-toggler {
  color: #000;
}
#ext_menu-i .navbar-brand {
  font-size: 22px;
}
#dropdown-menu-2btn-1u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1u .nav .link,
#dropdown-menu-2btn-1u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1u .navbar,
#dropdown-menu-2btn-1u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1u .dropdown-menu a:hover,
#dropdown-menu-2btn-1u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1u .navbar-toggler {
  color: #000000;
}
#form1-n .mbr-section-title {
  text-align: right;
  color: #000000;
  font-size: 46px;
}
#dropdown-menu-2btn-1u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1u .nav .link,
#dropdown-menu-2btn-1u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1u .navbar,
#dropdown-menu-2btn-1u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1u .dropdown-menu a:hover,
#dropdown-menu-2btn-1u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1u .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #000000;
}
#header2-1n H1 {
  text-align: left;
}
#header2-1n P {
  text-align: left;
}
#dropdown-menu-2btn-1r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1r .nav .link,
#dropdown-menu-2btn-1r .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1r .navbar,
#dropdown-menu-2btn-1r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1r .dropdown-menu a:hover,
#dropdown-menu-2btn-1r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1r .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1u .nav .link,
#dropdown-menu-2btn-1u .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1u .navbar,
#dropdown-menu-2btn-1u .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1u .dropdown-menu a:hover,
#dropdown-menu-2btn-1u .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1u .navbar-toggler {
  color: #000000;
}
